#contact-form {
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 15px;
	width: 497px;
	margin: 6% auto 0;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#contact-form fieldset {
	border: none;
	padding: 0;
	margin: 5px 0px 0px 0px;
}

#contact-form label {
	display: block;
	margin-bottom: 12px;
}

#contact-form input[type="text"] {
	border: 1px solid #ccc;
	font-size: 15px;
	padding: 4px;
	width: 400px;
	margin-right: 5px;
}

#contact-form input#name {
	margin-left: 50px;
}

#contact-form input#email {
	margin-left: 52px;
}

#contact-form input#subject {
	margin-left: 39px;
}

#contact-form textarea#msg {
	border: 1px solid #ccc;
	margin-left: 30px;
	vertical-align: top;
	width: 400px;
	height: 150px;
}

#contact-form input[type="submit"] {
	float: right;
}

#contact-form textarea#msg:focus, #contact-form input[type="text"]:focus
	{
	resize: none;
	background: #F4EDB6;
}

#contact-form textarea {
	resize: none;
}

.star {
	background-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 115%;
	font-weight: normal;
	color: #AB1F39;
	font-weight: bold;
}

.buttons {
	background: none repeat scroll 0 0 #E3E3DB;
	border-color: #FFFFFF #D8D8D0 #D8D8D0 #FFFFFF;
	border-style: solid;
	border-width: 2px;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 0px 6px;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 6px;
	cursor: pointer;
	width: 130px;
}