html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td {
	font-size: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}

a {
	color: #666;
}

#content {
	width: 100%;
	max-width: 100%;
	margin: 6% auto 0;
}

#top {
	margin: -2% auto 2.3%;
	text-align: center;
	font: 23px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 150%;
}

.tooltip:hover:after {
	width: 700px;
}