html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td {
	font-size: 100%;
}

fieldset {
	border: 1px dashed #CCCCCC;
	margin: 25px auto 20px auto;
	margin-bottom: 20px;
	margin-top: 25px;
	padding: 10px;
	width: 710px;
	height: 255px;
}

#top {
	margin: -2% auto 1.5%;
	text-align: center;
	font: 23px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#content {
	width: 100%;
	max-width: 100%;
	margin: 6% auto 0;
}

label {
	background-color: #CCCCCC;
	color: #666666;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: normal;
	height: 32px;
	margin-right: 2px;
	margin-top: 3px;
	padding-left: 6px;
	padding-top: 11px;
	width: 153px;
}

.div_texbox {
	background-color: #E6E6E6;
	float: right;
	height: 35px;
	margin-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-top: 5px;
	width: 540px;
}

select, .textbox {
	background-color: #FFFFFF;
	background-position: left center;
	background-repeat: no-repeat;
	color: #999999;
	font: 18px Arial;
	padding: 3px 6px 3px 6px;
	width: 315px;
}

.textbox:focus, .textbox:hover, select:focus, select:hover {
	background-color: #F0FFE6;
}

.button_div {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	float: left;
	height: 35px;
	margin-top: 3px;
	margin-left: 165px;
	padding: 6px 32px 3px;
	text-align: center;
	width: 255px;
}

.buttons {
	background: none repeat scroll 0 0 #E3E3DB;
	border-color: #FFFFFF #D8D8D0 #D8D8D0 #FFFFFF;
	border-style: solid;
	border-width: 2px;
	color: #989070;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0px 5px;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 7px;
	margin-left: 7px;
	cursor: pointer;
	width: 105px;
}

.star {
	background-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 115%;
	font-weight: normal;
	color: #AB1F39;
	font-weight: bold;
}

#notif-msg-failed, #notif-msg-success {
	color: darkred;
	font-weight: bold;
	font-size: 14px;
}

#notif-msg-success {
	color: darkgreen;
}

#notif-msg-status {
	text-align: center;
	margin-top: 33.5%;
	padding-right: 5%;
}

.info, .error, .success {
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 3px 8px;
	font: normal 11px helvetica, arial, sans-serif;
	margin-left: 6px;
}

.info {
	background-color: #00A2E8;
}

.error {
	background-color: #AD2930;
}

.success {
	background-color: #6F8F52;
}