body {
	font: normal .85em/1.5em Arial, Helvetica, sans-serif;
	background: #F7F7F7;
	width: 90%;
	margin: 15px auto;
	color: #666;
}

a {
	color: #333;
}

#site-title {
	font: normal 2.3em/1.6em Arial, Helvetica, sans-serif;
	text-align: center;
}

#menu-outer {
	background: #7d7d7d url(/resources/images/gradient.png) repeat-x 0
		-110px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	height: 51px;
}

.table {
	display: table;
	margin: 0 auto;
}

#nav {
	margin-top: 7px;
	list-style: none;
	padding-left: 0px;
}

#nav li {
	*display: inline; /*IE7*/
	*zoom: 1; /*IE7*/
	margin: 0 6px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}

/* Main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	border-radius: 1.6em 1.6em 1.6em 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#nav a:hover {
	background: #000;
	color: #fff;
}

/* Main level link hover */
#nav .current a, #nav li:hover>a {
	background: #666 url(/resources/images/gradient.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

/* Sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#nav ul a:hover {
	background: #0078ff url(/resources/images/gradient.png) repeat-x 0
		-100px !important;
	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* Drop-down */
#nav li:hover>ul {
	display: block;
}

/* Level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(/resources/images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	border-radius: 0px 0px 0px 0px;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* Level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* Rounded corners of first and last link */
#nav ul li:first-child>a {
	border-radius: 9px 9px 0px 0px;
}

#nav ul li:last-child>a {
	border-radius: 0px 0px 9px 9px;
}

/* Clear fix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#nav {
	display: inline-block;
}

html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
}