<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bg.znestorov.sofbus24.main"
    android:installLocation="auto"
    android:versionCode="22"
    android:versionName="2.3" >

    <!-- Specify the correct minSDK and targetSDK versions. -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16"
        tools:ignore="OldTargetApi" />

    <!-- Google Maps related permissions -->
    <permission
        android:name="com.ecs.google.maps.v2.actionbarsherlock.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="bg.znestorov.sofbus24.entity.GlobalEntity"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_2_map_debug_office" />

        <!-- Sofbus 24 -->
        <activity
            android:name="bg.znestorov.sofbus24.main.Sofbus24"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- History -->
        <activity android:name="bg.znestorov.sofbus24.main.History" />
        <activity
            android:name="bg.znestorov.sofbus24.main.HistoryDialog"
            android:theme="@style/PopupTheme" />

        <!-- Closest Stations List -->
        <activity
            android:name="bg.znestorov.sofbus24.main.ClosestStationsList"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="bg.znestorov.sofbus24.main.ClosestStationsListDialog"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Closest Stations Map -->
        <activity
            android:name="bg.znestorov.sofbus24.main.ClosestStationsMap"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="UnusedAttribute" />

        <!-- Preferences -->
        <activity android:name="bg.znestorov.sofbus24.main.Preferences" />
        <activity android:name="bg.znestorov.sofbus24.main.PreferencesPreHoneycomb" />
        <activity
            android:name="bg.znestorov.sofbus24.main.PreferencesDialog"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="bg.znestorov.sofbus24.main.PreferencesPreHoneycombDialog"
            android:theme="@style/PopupTheme" />

        <!-- Edit Tabs -->
        <activity android:name="bg.znestorov.sofbus24.main.EditTabs" />
        <activity
            android:name="bg.znestorov.sofbus24.main.EditTabsDialog"
            android:theme="@style/PopupTheme" />

        <!-- About -->
        <activity android:name="bg.znestorov.sofbus24.main.About" />
        <activity
            android:name="bg.znestorov.sofbus24.main.AboutDialog"
            android:theme="@style/PopupTheme" />

        <!-- Station Route Map -->
        <activity android:name="bg.znestorov.sofbus24.main.StationRouteMap" />

        <!-- Virtual Boards Time -->
        <activity android:name="bg.znestorov.sofbus24.main.VirtualBoardsTime" />
        <activity
            android:name="bg.znestorov.sofbus24.main.VirtualBoardsTimeDialog"
            android:theme="@style/PopupTheme" />

        <!-- Public Transport -->
        <activity
            android:name="bg.znestorov.sofbus24.main.PublicTransport"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="bg.znestorov.sofbus24.main.PublicTransportDialog"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Public Transport Schedule -->
        <activity android:name="bg.znestorov.sofbus24.main.PublicTransportSchedule" />
        <activity
            android:name="bg.znestorov.sofbus24.main.PublicTransportScheduleDialog"
            android:theme="@style/PopupTheme" />

        <!-- Station Map -->
        <activity android:name="bg.znestorov.sofbus24.main.StationMap" />

        <!-- Metro Schedule -->
        <activity android:name="bg.znestorov.sofbus24.main.MetroSchedule" />
        <activity
            android:name="bg.znestorov.sofbus24.main.MetroScheduleDialog"
            android:theme="@style/PopupTheme" />

        <!-- DroidTrans -->
        <activity android:name="bg.znestorov.sofbus24.main.DroidTrans" />
    </application>

</manifest>